---
layout: default
---
<div class="post">
    <style>
        .toc {
          width: 15%
          background: #f9f9f9;
          vertical-align:top;
        }
        .content {
          padding: 10px;
          width: 75%; /* Remaining width */
        }
        .sticky-top {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
        }
  </style>
    
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content | toc }}
  </article>
</div>
